<ion-header>
  <ion-navbar>
    <ion-title>
      Challenge
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="static-wrapper" ion-fixed text-center>
        <!-- <ion-list-header>Follow us on Twitter</ion-list-header> -->

        <!--{{myTurn()}}-->
        <div *ngIf="!imageUrl && !hasImage() && !mediaSelected">
            <div  style=" margin-top: 10%; padding: 5%;">
                <h1 color="contrast">"{{challenge.challenge}}"</h1>
            </div>
            <div *ngIf="(isAccepted() || isChallenger()) && (!imageUrl && !hasImage()) && !guessesMade()" style="margin-top: 10px;">  <!--|| challenge.challenger_id === user.id (or just make it an entry without detail? -->
                <h4>The odds are <h1>{{challenge.range}}</h1></h4>
            </div>
        </div>



        <div *ngIf="equalsGuesses() && guessesMade()">
            <div *ngIf="isChallenger() && !hasImage()">
                <h4>You guessed the same!</h4>
                <p>Waiting for proof of completion</p>
            </div>
            <div *ngIf="!isChallenger() && !hasImage()" >
                <div *ngIf="(!imageUrl || !videoData) && !mediaSelected && !showVideoPreview">
                    <div style="margin-top: 20px;">
                        <h4>You guessed the same!</h4>
                        <p>Upload a picture to show you completed the challenge!</p>
                    </div>
                    <div class="div-bottom">
                      <!--  <button ion-button color="danger" class="button-red" (click)="recordVideo()">Record Video</button>
                        <button ion-button color="danger" class="button-red" (click)="selectVideo()">Select Video</button>
                        <button ion-button color="danger" class="button-red" (click)="uploadVideo()">Upload Video</button> -->
                        <button ion-button color="danger" class="button-green" (click)="presentActionSheet()">Prove completion</button>


                       <!-- <button ion-button color="secondary" class="button-green" (click)="takePicture()">Take Image</button>
                        <button ion-button color="secondary" class="button-green" (click)="selectFromLibrary()">Select Image</button> -->
                    </div>
                </div>
                <ion-card style="width: 80%; margin: 0 auto;">
                    <img [src]="sanitizer.bypassSecurityTrustUrl(imageUrl)" *ngIf="mediaSelected" />
                    <video #myvideo width="300px" height="300px" *ngIf="showVideoPreview" controls="controls"></video>
                </ion-card>
                <div *ngIf="(imageUrl || showVideoPreview) && mediaFile" class="div-bottom">
                    <button ion-button color="danger" class="button-red" *ngIf="imageUrl" (click)="upload()">Send</button>
                    <button ion-button color="danger" class="button-red" *ngIf="imageUrl" (click)="removeImage()">Remove</button>
                </div>
            </div>

            <div *ngIf="hasImage() && !isCompleted()">
                <!-- <p color="contrast">"{{challenge.challenge}}"</p> -->
                <ion-card style="width: 80%; margin: 0 auto;">
                    <img src="{{serverInfo.FILESERVERURL}}/{{challenge.image_url}}"/>
                </ion-card>
                <div *ngIf="isChallenger()" class="div-bottom">
                    <button ion-button color="secondary" class="button-green" (click)="judgeChallenge(true)">Good</button>
                    <button ion-button color="danger" class="button-red" (click)="judgeChallenge(false)">Bad</button>
                </div>
          
            </div>
        </div>

        <div *ngIf="!equalsGuesses() && !guessesMade()">
            <div *ngIf="!isAccepted() && !isChallenger()" class="div-bottom">
                <button ion-button color="secondary" (click)="accept(challenge)" class="button-green" >Accept</button> <!-- style="float: left; margin-left: 30px;"-->
                <button ion-button color="danger" (click)="decline(challenge)" class="button-red" >Decline</button> <!-- style="float: right; margin-right: 30px;" -->
            </div>
            <div *ngIf="isAccepted() && myTurn()">

                <ion-range min="1" max="{{challenge.range}}" [(ngModel)]="guess" color="secondary">
                    <ion-label class="text-white" style="font-size: 20px" range-left>0</ion-label>
                    <ion-label class="text-white" style="font-size: 20px" range-right>{{guess}}</ion-label>
                </ion-range>

                <div class="div-bottom">
                    <button ion-button color="secondary" class="button-green" (click)="submitGuess()">Guess</button>
                </div>
            </div>
        </div>
        <div *ngIf="!equalsGuesses() && guessesMade()">
            <p>Guesses were wrong! bye</p>
        </div>
    </div>
</ion-content>
<!--
<ion-footer text-center>
    <div *ngIf="!isAccepted() && !isChallenger() && !equalsGuesses() && !guessesMade()">
        <button ion-button color="secondary" (click)="accept(challenge)" class="button-green">Accept</button>
        <button ion-button color="danger" (click)="decline(challenge)" class="button-red">Decline</button>
    </div>
</ion-footer>
-->