<ion-header>
    <ion-navbar>
        <ion-title>
            Challenge
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="static-wrapper" ion-fixed text-center>
        <div *ngIf="!mediaFile && !hasImage() && !mediaSelected">
            <div style="margin-top: 10%; padding: 5%;">
                <h1 color="contrast">"{{challenge.challenge}}"</h1>
            </div>
            <div *ngIf="(isAccepted() || isChallenger()) && (!mediaFile && !hasImage()) && !guessesMade()"
                 style="margin-top: 10px;">
                <h4>The odds are <h1>{{challenge.range}}</h1></h4>
            </div>
        </div>


        <div *ngIf="equalsGuesses() && guessesMade()">
            <div *ngIf="isChallenger() && !hasImage()">
                <h4>You guessed the same!</h4>
                <p>Waiting for proof of completion</p>
            </div>
            <div *ngIf="!isChallenger() && !hasImage()">
                <div *ngIf="!mediaFile && !mediaSelected && !showVideoPreview">
                    <div style="margin-top: 20px;">
                        <h4>You guessed the same!</h4>
                        <p>Upload a picture to show you completed the challenge!</p>
                    </div>
                    <div class="div-bottom">
                        <button ion-button color="secondary" class="button-green" (click)="presentActionSheet()">Prove
                            completion
                        </button>
                    </div>
                </div>

                <div style="padding: 10px;">
                    <img [src]="sanitizer.bypassSecurityTrustUrl(mediaFile)" width="auto" height="310px"
                         *ngIf="mediaSelected && !showVideoPreview"/>
                    <video #myvideo width="100%" height="310px" *ngIf="showVideoPreview" controls></video>
                </div>

                <div *ngIf="(mediaFile || showVideoPreview) && mediaFile" class="div-bottom">
                    <button ion-button color="danger" class="button-yellow" *ngIf="mediaFile"
                            (click)="universalUpload()">Send
                    </button>
                    <button ion-button color="danger" class="button-red" *ngIf="mediaFile" (click)="removeMedia()">
                        Remove
                    </button>
                </div>
            </div>

            <div *ngIf="hasImage() && !isCompleted()">
                <!-- <p color="contrast">"{{challenge.challenge}}"</p> -->
                <div *ngIf="!mediaIsVideo()" style="padding: 10px;">
                    <p *ngIf="isChallenger()">Did {{challenge.challengee_name}} complete this challenge?</p>
                    <img width="auto" height="310px" src="{{serverInfo.FILESERVERURL}}/{{challenge.media_file}}"/>
                </div>

                <div *ngIf="mediaIsVideo()" style="padding: 10px;">
                    <p>Did {{challenge.challengee_name}} complete this challenge?</p>
                    <video width="100%" height="310px" preload="auto" controls="controls">
                        <source src="{{serverInfo.FILESERVERURL}}/{{challenge.media_file}}" type="video/mp4">
                    </video>
                </div>

                <div *ngIf="isChallenger()" class="div-bottom">
                    <button ion-button color="secondary" class="button-green thin-button"
                            (click)="judgeChallenge(true)">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </button>
                    <button ion-button color="danger" class="button-red" (click)="judgeChallenge(false)">
                        <ion-icon name="thumbs-down"></ion-icon>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="!equalsGuesses() && !guessesMade()">
            <div *ngIf="!isAccepted() && !isChallenger()" class="div-bottom">
                <button ion-button color="secondary" (click)="accept(challenge)" class="button-green thin-button">
                    Accept
                </button>
                <button ion-button color="danger" (click)="decline(challenge)" class="button-red thin-button">Decline
                </button>
            </div>
            <div *ngIf="isAccepted() && myTurn()">
                <ion-grid fixed>
                    <ion-row class="number-picker">
                        <ion-col align-self-center class="arrow" (tap)="decreaseGuess()"
                                 (touchend)="handleDecrease(false)" (touchstart)="handleDecrease(true)">
                            <ion-icon name="arrow-back"></ion-icon>
                        </ion-col>
                        <div class="guess" col-lg-6><h1>{{guess}}</h1></div>
                        <ion-col align-self-center class="arrow" (tap)="increaseGuess(challenge.range)"
                                 (touchend)="handleIncrease(challenge.range, false)"
                                 (touchstart)="handleIncrease(challenge.range, true)">
                            <ion-icon name="arrow-forward"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div class="div-bottom">
                    <button ion-button color="secondary" class="button-green" (click)="submitGuess()">Guess</button>
                </div>
            </div>
        </div>
        <div *ngIf="!equalsGuesses() && guessesMade()">
            <p>Guesses were wrong!</p>
            <button ion-button color="secondary" (click)="newChallenge()" class="button-green">Start new challenge
            </button>
        </div>
    </div>
</ion-content>
