page-home {

}

.login-page {
    background-color: color($colors, app, green) !important;
}

ion-grid {
    height: 100%;
    justify-content: center;
}

.button-login {
    background-color: color($colors, app, facebook);
    color: color($colors, app, contrast);
}
