page-home {

}

.item-lines {
  border-bottom: solid color($colors, app, contrast) 1px;
}

.search-bar {
  height: 30px;
  margin-top: -10px;
  color: color($colors, app, contrast) !important;
}

ion-icon {
  color: color($colors, app, contrast);
}

ion-icon[name="checkmark"] {
  font-size: 35px;
  margin: -5px 0px -5px 0px;
  color: color($colors, app, green);
}

.challenge-completed {
  color: color($colors, app, green);
  }