page-contact {

}

ion-avatar img {
  margin-top: 5%;
  width: 20% !important;
  height: 20% !important;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}


.div-bottom {
  bottom: 0%;
}