<ion-header>
  <ion-navbar>
    <!--  <ion-buttons start>
         <span>{{score}}</span>
      </ion-buttons> -->
      <div *ngIf="enableSearch" class="search-bar">
          <ion-searchbar (ionInput)="search($event)" [showCancelButton]="enableSearch" (ionCancel)="toggleSearch()" placeholder="Search"></ion-searchbar>
      </div>
      <div *ngIf="!enableSearch">
          <ion-title start navbarColor>{{score}}</ion-title>
          <ion-buttons end>
              <button ion-button icon-only (tap)="toggleSearch()">
                  <ion-icon name="search"></ion-icon>
              </button>
          </ion-buttons>
      </div>


  </ion-navbar>
</ion-header>

<div text-center style="padding-top: 5px" *ngIf="loading">
    <ion-spinner name="ios"></ion-spinner>
</div>

<ion-content >
    <div text-center style="padding-top: 5px" *ngIf="loading">
        <ion-spinner name="ios"></ion-spinner>
    </div>
    <div *ngIf="!loading">

    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)" >
        <ion-refresher-content pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Refreshing...">></ion-refresher-content>
    </ion-refresher>
    <ion-list no-lines>
        <ion-item-group>
          <ion-item-divider>Active challenges<ion-badge item-right>{{(myChallenges.slice().reverse() | ChallengesPipe: [1]).length}}</ion-badge></ion-item-divider>  <!-- // TODO: add badge for how many challenges! -->
          <div *ngFor="let challenge of myChallenges.slice().reverse() | ChallengesPipe: [1] | searchByChallenge: searchTerm">
            <ion-item *ngIf="(challenge.completed === -1)" detail-push (click)="challengeDetail(challenge)" (press)="handlePress(challenge)" [ngClass]="{'item-my-turn': myTurn(challenge)}">
                {{challenge.display}} <span style="font-size: 10px" class="fade-in-out" *ngIf="myTurn(challenge) && !(!equalsGuesses(challenge) && guessesMade(challenge))"> your turn!</span>
            </ion-item>
            <ion-item *ngIf="(challenge.completed === 1) && !isChallenger(challenge)" class="challenge-completed" (press)="handlePress(challenge)">
                {{challenge.display}} <span item-right><ion-icon name="checkmark"></ion-icon></span>
            </ion-item>
             <ion-item *ngIf="(challenge.completed === 0) && !isChallenger(challenge)" class="challenge-failed"(click)="challengeDetail(challenge)"  (press)="handlePress(challenge)">
                {{challenge.display}} <span item-right><ion-icon name="close"></ion-icon></span>
            </ion-item>
          </div>
     
          <ion-item-divider>Pending challenges<ion-badge item-right>{{(myChallenges.slice().reverse() | ChallengesPipe: [0]).length}}</ion-badge></ion-item-divider> <!-- // TODO: add badge for how many challenges! -->
            <div *ngFor="let challenge of myChallenges.slice().reverse() | ChallengesPipe: [0]" >
                <ion-item *ngIf="isChallenger(challenge)" [ngClass]="{'item-disabled': challenge.rejected}" class="item-lines">
                    {{challenge.display}}<span item-right>{{challenge.created_at | TimeSincePipe }}</span>
                </ion-item>
                <ion-item *ngIf="!isChallenger(challenge)" [ngClass]="{'item-disabled': challenge.rejected}" detail-push class="item-lines" (click)="challengeDetail(challenge)">
                    {{challenge.display}}<span item-right>{{challenge.created_at | TimeSincePipe }}</span>
                </ion-item>
            </div>

        </ion-item-group>
    </ion-list>
</ion-content>
