.login-page {
    background-color: color($colors, app, green) !important;
}

ion-grid {
    height: 100%;
    justify-content: center;
}

.button-login {
    background-color: color($colors, app, base);
    color: color($colors, app, contrast);
}

.logo {
    margin-bottom: 20%;
}
